@import '../../scss/variables';

@media (min-width: 375px) {
    .division {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-evenly;
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
    }

    .group {
        display: flex;
        justify-content: space-between;
        margin: 3rem auto 0;
    }


    .container {
        align-items: center;
        color: $color-bg-primary;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0 1.5rem;
        max-width: 600px;
        width: 100%;
    }

    .nav {
        margin-bottom: 2rem;
    }

    .list {
        display: flex;
        gap: 1.2rem;
        position: relative;
    }

    .list li {
        display: block;
        height: 100%;
        position: relative;
    }

    .list__btn {
        border: none;
        background-color: transparent;
        color: $color-txt-primary;
        cursor: pointer;
        font-family: $f-1-family;
        font-size: $fz-sub-3;
        line-height: $line-h2;
        letter-spacing: 2.3625px;
        padding: 0;
        text-transform: uppercase;
        text-decoration: none;
    }

    .list__btn::before {
        border-radius: 6px;
        bottom: -12px;
        background-color: $color-bg-primary;
        content: '';
        display: block;
        height: 3px;
        position: absolute;
        transition: all .3s ease-out;
        transform: scale(0, 1);
        transform-origin: center;
        width: 100%;
    }

    .list__btn:hover::before {
        bottom: -12px;
        border-radius: 6px;
        background-color: $color-bg-primary;
        content: '';
        display: block;
        height: 3px;
        position: absolute;
        transition: all .3s ease-out;
        transform: scale(1, 1);
        transform-origin: center;
        width: 100%;
    }

    .list__btn--active::before {
        transform: scale(1, 1);
    }

    .title {
        font-family: $f-2-family;
        font-size: $fz-h3;
        line-height: $line-h7;
        text-transform: uppercase;
        text-align: center;
    }

    .text {
        color: $color-txt-secondary;
        font-family: $line-h2;
        font-size: $fz-default;
        line-height: $line-h4;
        text-align: center;
    }

    .dividing-line {
        background: #383B4B;
        height: 1px;
        margin: 2rem;
        width: 100%;
    }

    .flex {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        text-align: center;
    }

    .control {
        display: inline-flex;
        flex-direction: column;
        gap: 12px;
        letter-spacing: 2px;
        text-transform: uppercase;

        p {
            color: $color-bg-secondary;
            font-family: $f-1-family;
            font-size: $fz-sub-3;
            line-height: $line-h2;
            letter-spacing: 2.3625px;
        }

        span {
            font-family: $f-2-family;
            font-size: $fz-h5;
            line-height: $line-h8;
        }
    }
}


@media (min-width: 768px) {
    .division {
        width: 80%;
    }

    .container {
        margin: 0 auto;
    }

    .list {
        gap: 2.6rem;
    }

    .list__btn {
        font-size: $fz-body;
        font-weight: 500;
    }

    .title {
        font-size: $fz-h6;
        line-height: 92px;
    }

    .text {
        font-size: $fz-default;
        line-height: $line-h5;
    }

    .flex {
        gap: 6rem;
        flex-direction: row;
    }

    .control {
        gap: .625rem;
    }
}


@media (min-width: 1200px) {
    .division {
        grid-template-columns: 1fr 1fr;
    }

    .group {
        width: 450px;
    }

    .container {
        align-items: flex-start;
        justify-content: space-between;
    }

    .nav {
        margin-top: 2rem;
        margin-bottom: 0;
    }

    .list {
        gap: 1.6rem;
    }


    .title {
        font-size: 100px;
    }

    .text {
        font-size: $fz-body;
        letter-spacing: 2px;
        text-align: left;
    }

    .dividing-line {
        margin: 0;
    }

    .flex {
        gap: 3rem;
    }

    .control {
        gap: .8rem;
        text-align: left;
    }
}