.division {
    display: grid;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: 450px 600px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    color: whitesmoke;
    margin-left: auto;
}

.list {
    position: relative;
    display: flex;
    gap: 1.2rem;
}

.list li {
    display: block;
    position: relative;
    height: 100%;
}

.list__btn {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    border: none;
}

.list__btn::before {
    content: '';
    width: 100%;
    height: 3px;
    background-color: white;
    display: block;
    position: absolute;
    bottom: -12px;
    border-radius: 6px;
    transition: all .3s ease-out;
    transform: scale(0, 1);
    transform-origin: center;
}

.list__btn:hover::before {
    content: '';
    width: 100%;
    height: 3px;
    background-color: rgb(255, 255, 255);
    display: block;
    position: absolute;
    bottom: -12px;
    border-radius: 6px;
    transition: all .3s ease-out;
    transform: scale(1, 1);
    transform-origin: center;
}

.list__btn--active::before {
    content: '';
    width: 100%;
    height: 3px;
    background-color: white;
    display: block;
    position: absolute;
    bottom: -12px;
    border-radius: 6px;
    transition: all .3s ease-out;
    transform: scale(1, 1);
    transform-origin: center;
}

.group {
    display: flex;
    justify-content: space-between;
    width: 420px;
    margin: 3rem auto 0;
}


.title {
    font-size: 100px;
    margin-top: 2rem;
    text-transform: uppercase;
}

.text {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 2px;
    color: #D0D6F9;
    font-family: 'Barlow Condensed', sans-serif;
}

.dividing-line {
    border: 1px solid rgba(245, 245, 245, .08);
    margin: 2rem 0 0;
}

.flex {
    display: flex;
    gap: 3rem;
}

.control {
    display: inline-flex;
    flex-direction: column;
    gap: .325rem;
    letter-spacing: 2px;
    text-transform: uppercase;

    p {
        text-transform: uppercase;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 14px;
        color: #D0D6F9;
    }

    span {
        font-size: 28px;
    }
}