@media (min-width: 375px) {
    .background {
        background-image: url('../../../public/assets/destination/background-destination-mobile.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        grid-area: content;
        height: 100vh;
        width: 100%;
    }

    .section {
        padding-top: 120px;
    }

}

@media (min-width: 768px) {
    .background {
        background-image: url('../../../public/assets/destination/background-destination-tablet.jpg');

    }

    .section {
        padding-top: 160px;
    }

}

@media (min-width: 1200px) {
    .background {
        background-image: url('../../../public/assets/destination/background-destination-desktop.jpg');
    }

    .section {
        padding-top: 250px;
    }

}