.subtitle {
    position: relative;
    left: -50px;
    font-size: 32px;
    margin-bottom: 6rem;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    color: #FFFFFF;

    span {
        letter-spacing: 5px;
        color: rgba(255, 255, 255, .3);
        margin-right: 1rem;
        font-weight: 600;
    }
}


.image {
    display: block;
    width: 100%;
    height: auto;
}