@import '../../scss/variables';

@media (min-width: 375px) {
    .subtitle {
        color: $color-txt-primary;
        font-family: $f-1-family;
        font-style: normal;
        font-weight: 400;
        font-size: $fz-default;
        line-height: $line-h3;
        letter-spacing: 2.7px;
        margin-bottom: 2rem;
        position: relative;
        text-transform: uppercase;
        text-align: center;

        span {
            color: inherit;
            font-family: $f-3-family;
            font-weight: 900;
            font-size: $fz-default;
            line-height: $line-h3;
            letter-spacing: 2.7px;
            opacity: 0.25;
        }
    }

    .image {
        display: block;
        height: 170px;
        margin: 0 auto;
        width: 170px;
    }
}


@media (min-width: 768px) {
    .subtitle {
        color: $color-txt-primary;
        font-family: $f-1-family;
        font-weight: 400;
        font-size: $fz-default;
        line-height: $line-h3;
        letter-spacing: 2.7px;
        margin-bottom: 60px;
        position: relative;
        text-align: left;
        text-transform: uppercase;

        span {
            color: inherit;
            font-family: $f-3-family;
            font-weight: 900;
            font-size: $fz-default;
            line-height: $line-h3;
            letter-spacing: 2.7px;
            opacity: 0.25;
        }
    }

    .image {
        display: block;
        height: 300px;
        margin: 0 auto;
        width: 300px;
    }
}

@media (min-width: 1200px) {
    .subtitle {
        color: $color-txt-primary;
        font-family: $f-1-family;
        font-weight: 400;
        font-size: $fz-h5;
        line-height: $line-h6;
        letter-spacing: 4.725px;
        margin-bottom: 92px;
        position: relative;
        text-align: left;
        text-transform: uppercase;


        span {
            color: inherit;
            font-family: $f-3-family;
            font-weight: 900;
            font-size: $fz-h5;
            line-height: $line-h6;
            letter-spacing: 4.725px;
            opacity: 0.25;
        }
    }

    .image {
        display: block;
        height: 445px;
        margin: 0 auto;
        width: 445px;
    }
}