// Variáveis

// Importação fontes google fonts
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

// Cor da fonte
$color-txt-primary: #FFFFFF;
$color-txt-secondary: #D0D6F9;
$color-txt-third: #0B0D17;

// Cor de fundo
$color-bg-primary: #FFFFFF;
$color-bg-secondary: #D0D6F9;
$color-bg-third: #0B0D17;

// Tamanho de fonte de título
$fz-h1: 150px;
$fz-h2: 100px;
$fz-h3: 56px;
$fz-h4: 32px;
$fz-h5: 28px;

// Tamanho de fonte
$fz-sub-1: 28px;
$fz-sub-2: 16px;
$fz-sub-3: 14px;

$fz-default: 16px;

// Família da letra
$f-1-family: 'Barlow Condensed', sans-serif;
$f-2-family: 'Bellefair', serif;